{% extends 'polls/test.html' %}
{% load static %}
{% block content %}
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 mb-3 d-flex">
        <div class="image">
          {% if user.userprofile.profile.url%}
        <img src="{{ user.userprofile.profile.url }}" class="img-circle elevation-2" alt="User Image">
      {% else %}
        <img src="{% static 'dist/img/a.png'%}" class="img-circle elevation-2" alt="User Image">
        {% endif %}
        </div>
      </div>     
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item d-none d-sm-inline-block">
            <a href="/index" class="nav-link">
              <i class="nav-icon fas fa-home"></i>
              <p>
                หน้าหลัก
              </p>
            </a>
          </li>
          <li class="nav-item">
            <p class="nav-link active">
              <i class="nav-icon fas fa-check-square"></i>
            
                จัดการรายการโหวต
              
            </p>
          </li>
          <li class="nav-item">
            <a href="/managepoll" class="nav-link">
              <i class="nav-icon fas fa-poll"></i>
              <p>
                จัดการรายการโพล
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/manageadmin" class="nav-link">
              <i class="nav-icon fas fa-address-book"></i>
              <p>
                จัดการผู้ใช้งาน
              </p>
            </a>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
 
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><b>Manage Vote</b></h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <div class="box">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="box-body">
                       <table id="example1" class="table table-bordered table-striped"><thead><tr class='warning'>
        <th width='5%'>No.</th>
        <th width='15%'>IMG</th>
        <th width='30%'>Title</th>
        <th width='20%'>start</th>
        <th width='20%'>end</th>
        <th width='15%'>Staus</th>
        <th width='5%'>edit</th>
        <th width='5%'>del</th>
      </tr></thead>
      {% for election in electionv %}
                   <tr>
                    <td>{{election.id}}</td> 
                    <td><img src="{{election.picture.url}}" width="100%"></td> 
                    <td>{{election.name}}</td> 
                    <td>{{election.vote_start}}</td>
                    <td>{{election.vote_end}}</td>
                    <td><a href="" class="btn-xs btn-success ">{{election.status}}</a></td>
                    <td>
 <!--------------------EDIT------------------------>      
<a href="{% url 'editvote' election.id %}" class="btn btn-primary">
  EDIT
  </a></td>
<!-------------------END EDIT---------------------->
           <!--------------------DELETE------------------------>   
                                    <td><a href="{% url 'deletevote' election.id %}" class="btn btn-red">
                                        DEL
                                        </a></td> 
           <!-------------------DELETE END---------------------->
                  </tr>
                   {% endfor %}      
                    </table>  
        <!-------------------Prev-Next---------------------->                                
          <nav class="my-4" aria-label="...">
    <ul class="pagination pagination-circle justify-content-center">
    {% if electionv.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1">&laquo First</a> 
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ electionv.previous_page_number }}">Previous</a> 
      </li>
    {% endif %}  
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">{{ electionv.number }} of {{ electionv.paginator.num_pages }}</a>
      </li>
    {% if electionv.has_next %}   
      <li class="page-item">
        <a class="page-link" href="?page={{ electionv.next_page_number }}">Next</a>  
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ electionv.paginator.num_pages }}">Last &raquo </a>  
      </li>
    {% endif %}
    </ul>
  </nav>            
  <!-------------------END Prev-Next---------------------->                   
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div><!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->
{% endblock %}